
.jumbotron.jumbotron-fluid.jumbotron-detail-page.h-auto
  
  include navbar.pug

  .container
    .row
      .col
        h2.h2-responsive.font-weight-bold= title
        p.text-uppercase
          = subtitle

        i.mdi.mdi-chevron-double-down.text-white.font-weight-bold.h6
