- var title = 'CSS Components';
- var subtitle = 'Jumbotron';

doctype html
html(lang="en")
  
  include includes/header.pug

  body
    
    //- Header
    include includes/title-details.pug

    .container
      // JUMBOTRON
      .jumbotron.text-center
        h1.display-4 Welcome To My Website!
        p.lead
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum necessitatibus perspiciatis cum vitae, modi hic?
        hr
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quibusdam.
        a.btn.btn-primary.btn-lg(href='#', role='button') Read More
      br
      
    div(style="margin-top:500px;")