- var title = 'CSS Components';
- var subtitle = 'Buttons';

doctype html
html(lang="en")
  
  include includes/header.pug

  body
    
    //- Header
    include includes/title-details.pug

    .container
      .row
        .col-md-12
          <!-- BUTTONS -->
          button.btn.btn-primary(type="button") Primary
          button.btn.btn-secondary(type="button") Secondary
          button.btn.btn-success(type="button") Success
          button.btn.btn-info(type="button") Info
          button.btn.btn-warning(type="button") Warning
          button.btn.btn-danger(type="button") Danger
          button.btn.btn-light(type="button") Light
          button.btn.btn-dark(type="button") Dark
          button.btn.btn-link(type="button") Link

          br
          br

        .col-md-12
          <!-- BUTTON TAGS/TYPES -->
          a.btn.btn-primary(href="#",role="button") Link
          button.btn.btn-success(type="submit") Button
          input.btn.btn-light(type="button" value="Input")
          input.btn.btn-warning(type="submit" value="Submit")
          input.btn.btn-info(type="reset" value="Reset")
          br
          br

        .col-md-12
          <!-- OUTLINE BUTTONS -->
          button.btn.btn-outline-primary(type="button") Primary Outline
          button.btn.btn-outline-secondary(type="button") Secondary Outline
          button.btn.btn-outline-success(type="button") Success Outline
          button.btn.btn-outline-info(type="button") Info Outline
          button.btn.btn-outline-warning(type="button") Warning Outline
          button.btn.btn-outline-danger(type="button") Danger Outline
          button.btn.btn-outline-light(type="button") Light Outline
          button.btn.btn-outline-dark(type="button") Dark Outline
          
          br
          br

        .col-md-12
          <!-- BUTTON SIZES -->
          button.btn.btn-primary.btn-lg(type="button")
            i.fas.fa-user Large button
          button.btn.btn-success.btn-sm(type="button") Small button
          br
          br
          button.btn.btn-dark.btn-block(type="button") Block level button

          br
          br

        .col-md-12
          <!-- STATES -->
          button.btn.btn-primary(type="button") Regular Button
          button.btn.btn-primary.active(type="button") Active Button
          button.btn.btn-primary.disabled(type="button") Disabled Button
          button.btn.btn-primary(type="button", data-toggle="button") Toggle State

          br
          br

        .col-md-12
          <!-- BUTTON GROUPS -->
          .btn-group
            button.btn.btn-primary(type="button") Left
            button.btn.btn-secondary(type="button") Middle
            button.btn.btn-primary(type="button") Right

          br
          br

        .col-md-12
          <!-- BUTTON TOOLBAR -->
          .btn-toolbar
            .btn-group.mr-2
              button.btn.btn-primary(type="button") 1
              button.btn.btn-primary(type="button") 2
              button.btn.btn-primary(type="button") 3
              button.btn.btn-primary(type="button") 4
            .btn-group.mr-2
              button.btn.btn-primary(type="button") 5
              button.btn.btn-primary(type="button") 6
              button.btn.btn-primary(type="button") 7
            .btn-group
              button.btn.btn-primary(type="button") 8
          br
          br

        .col-md-12
          <!-- VERTICAL GROUP -->
          .btn-group-vertical
            button.btn.btn-primary(type="button") Top
            button.btn.btn-primary(type="button") Middle
            button.btn.btn-primary(type="button") Bottom
          br
          br

        .col-md-12
          <!-- BUTTON DROPDOWNS -->
          .dropdown
            button.btn.btn-primary.dropdown-toggle(type="button",data-toggle="dropdown") My Dropdown
            .dropdown-menu
              a.dropdown-item(href="#") Link One
              a.dropdown-item(href="#") Link Two
              a.dropdown-item(href="#") Link Three

          br
          br

        .col-md-12
          <!-- SPLIT DROPDOWNS -->
          .btn-group
            button.btn.btn-primary(type="button") My Button
            button.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown")
              span Toggle Dropdown
            .dropdown-menu
              a.dropdown-item(href="#") Link One
              a.dropdown-item(href="#") Link Two
              .dropdown-divider
              a.dropdown-item(href="#") Link Three
              
    div(style="margin-top:500px;")