- var title = 'CSS Components';
- var subtitle = 'Forms';

doctype html
html(lang="en")
  
  include includes/header.pug

  body
    
    //- Header
    include includes/title-details.pug

  .container
    // FORM
    form
      // TEXT FIELD GROUPS
      .form-group
        label(for='name') Name
        input#name.form-control(placeholder='Enter name', type='text')
      .form-group
        label(for='email') Email address
        input#email.form-control.form-control-lg(placeholder='Enter email', type='email')
        small.form-text.text-muted Your email will not ever be shared
      .form-group
        label(for='company') Company
        input#company.form-control.form-control-sm(placeholder='Enter company name', type='text')
      .form-group
        label(for='password') Password
        input#password.form-control(placeholder='Password', readonly='', type='password')
      // SELECT
      .form-group
        label(for='gender') Gender
        select#gender.form-control
          option Male
          option Female
      // TEXTAREA
      .form-group
        label(for='message') Message
        textarea#message.form-control(rows='3')
      // FILE INPUT
      .form-group
        label(for='file') File input
        input#file.form-control-file(type='file')
        small#fileHelp.form-text.text-muted Max 3mb size
      // CUSTOM FILE INPUT
      .custom-file
        input#myfile.custom-file-input(type='file')
        label.custom-file-label(for='myfile') Choose file
      br
      br
      // RANGE
      .form-group
        label(for='membership') Membership Level
        input.custom-range(min='1', max='5', step='1', value='1', type='range')
      br
      button.btn.btn-primary.btn-block(type='submit') Submit
    br
    br
    // INLINE FORM
    form.form-inline
      input#username.form-control.mr-2(placeholder='Enter username', type='text')
      input#password.form-control.mr-2(placeholder='Password', type='text')
      .form-check
        label.form-check-label.mr-2
          input.form-check-input(type='checkbox')
          |  Remember me
      button.btn.btn-light(type='submit') Submit
    br
    br
    // FORM ROW
    form
      .form-row
        .col
          input.form-control(placeholder='First name', type='text')
        .col
          input.form-control(placeholder='Last name', type='text')
    br
    br
    // VALIDATION
    .form-group
      label(for='username') Username
      input#username.form-control.is-valid(type='text')
    .form-group
      label(for='password') Password
      input#password.form-control.is-invalid(type='text')
      .invalid-feedback
        | Password not strong enough
    .form-group
      label(for='password2') Confirm Password
      input#password2.form-control.is-invalid(type='text')
      .invalid-feedback
        | Password does not match

    div(style="margin-top:500px;")