- var title = 'Grid & Flexbox';
- var subtitle = 'Grid alignment';

doctype html
html(lang="en")
  
  include includes/header.pug

  body
    
    //- Header
    include includes/title-details.pug

    .container
      // VERTICAL ALIGNMENT
      .container
        .row.align-items-start(style='height:200px;border:1px #333 solid')
          .col
            | Top Aligned Text
          .col
            | Top Aligned Text
          .col
            | Top Aligned Text
        .row.align-items-center(style='height:200px;border:1px #333 solid')
          .col
            | Middle Aligned Text
          .col
            | Middle Aligned Text
          .col
            | Middle Aligned Text
        .row.align-items-end(style='height:200px;border:1px #333 solid')
          .col
            | Bottom Aligned Text
          .col
            | Bottom Aligned Text
          .col
            | Bottom Aligned Text
      br
      br
      // VERTICAL ALIGN INDIVIDUAL COLS
      .container
        .row(style='height:200px;border:1px #333 solid')
          .col.align-self-start
            | Top Aligned
          .col.align-self-center
            | Middle Aligned
          .col.align-self-end
            | Bottom Aligned
      br
      br
      // HORIZONTAL ALIGNED COLS
      .container
        .row.justify-content-start(style='height:200px;border:1px #333 solid')
          .col-4
            | Left Aligned Text
          .col-4
            | Left Aligned Text
        .row.justify-content-center(style='height:200px;border:1px #333 solid')
          .col-4
            | Center Aligned Text
          .col-4
            | Center Aligned Text
        .row.justify-content-end(style='height:200px;border:1px #333 solid')
          .col-4
            | Right Aligned Text
          .col-4
            | Right Aligned Text
        .row.justify-content-around(style='height:200px;border:1px #333 solid')
          .col-4
            | Content Around
          .col-4
            | Content Around
        .row.justify-content-between(style='height:200px;border:1px #333 solid')
          .col-4
            | Content Between
          .col-4
            | Content Between
      br
      br
      // COLUMN WRAPPING & NO GUTTERS
      .row.no-gutters
        .col-9
          .card
            .card-block
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, repudiandae!
        .col-4
          .card
            .card-block
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, repudiandae!
        .col-6
          .card
            .card-block
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, repudiandae!

    div(style="margin-top:500px;")
    