doctype html
html(lang="en")
  
  include includes/header.pug

  body
    .jumbotron.jumbotron-fluid.jumbotron-main-page
      
      include includes/navbar.pug

      .container
        .row
          .col
            h4.display-4.h4-responsive.font-weight-bold.mt-4 Accelerate you codding
            p.text-primary Boostly Starter UI KIT
            
            br
            
            p
              strong 100+
              |  Elements, 
              strong 1400+
              |  Incons (Fontawesome, Material Icons),
              |  Animations CSS, files .scss, 
            p
              strong Free to use on free and comercial projects.
            
            a.btn.btn-primary.mr-2(href='https://github.com/mayanfy/boostly')
              | GitHub
              i.fa.fa-github.ml-1