doctype html
html(lang="en")
  
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
      | Home | Boostly

  body
    .jumbotron.jumbotron-fluid.jumbotron-main-page
      .container.d-flex.h-100
        .row.justify-content-start.align-self-center.w-100
          .col-lg-5.col-sm-12
            img.mb-4(src='./img/bootstrap-solid.svg', alt='', width='64', height='64')
            h3.display-3.h3-responsive.font-weight-bold Happy Codding
            p Replace this home page and put your design for your new website.
            br
            a.btn.btn-primary.mr-3.mb-2(href='./ui/index.html' role='button') 
              i.mdi.mdi-brush.mr-2
              | UI Boostly
            a.btn.btn-light.mb-2(href='https://github.com/mayanfy/boostly' role='button')
              i.mdi.mdi-github-circle.mr-2
              | Github
            
