.jumbotron-main-page {
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-position: 100% 0;
    background-size: cover;
    margin-bottom: 0px !important;
 }

 .jumbotron-detail-page {
    background-image: url('../img/background-detail.jpg');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
    background-color: white;
 }
 